*,* ::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:#FAFAFA;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

#question{
    padding: 20px;
    /* margin-bottom: 100px; */
    text-align: center;
    font-size: larger;
}
/* #gamefield{
    height:150px;
    width:300px;
} */
.row{
    height:300px;
}
.container{

    background-color:#E6E1E4;
    padding: 50px;
    height:90%;
    width:70%;

}

#initialsInput{
    /* margin-top: 0; */
    color:black;
    padding:2px;
} 
#timer{

    /* position: absolute; */
    /* margin-bottom: 70px; */
    margin-left: 45%;
}

#startQuiz{
    padding: 20px;
    
    margin-left: 43%;
    background-color: blue;
    border-radius: 10px;
    font-size: larger;
}
.answer-btn{
    bottom: 0;
    gap: 20px;
    margin-bottom: 20px;
    background-color: crimson;
    height: 100px;
    width: 170px;
    font-size: larger;
    margin-left: 5%;
    display: inline-block;
    
}
#btnsGroup{
    margin-top: 50px;
}
#endgame{
    /* position: absolute; */
    border-radius: 10px;
    margin-bottom: 150px;
    margin-left: 35%;
   

}
#record{
    background-color: crimson;
    position: absolute;
    border-radius: 10px;
    margin-top: -50px;
    margin-left: 35%;

} 